#taboola,
#taboola *
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#taboola
{
	position: relative;
	float: left;
	width: 100%;
	padding: 0;
}

#taboola > .title
{
	margin: 0 0 15px 0;
	padding: 0;
	font-size: 1.3em;
	line-height: 1;
	font-weight: bold;
	color: #808080;
}

#taboola > ul,
#taboola > ul > li,
#taboola > ul > li > div
{
	position: relative;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
}

#taboola > ul
{
	width: 100%;
}

#taboola > ul > li
{
	width: 100%;
	text-align: left;
}

#taboola > ul > li > div
{
	width: 100%;
	padding-bottom: 1.25em;
}

#taboola > ul > li > div > *
{
	position: relative;
	display: block;
	float: left;
	clear: both;
	margin: 0;
	padding: 0;	
	clear: both;
	width: 100%;
	line-height: 1;
}

#taboola > ul > li > div > .cover
{
	height: 0;
	margin: 0 0 7px;
	padding: 0 0 50%;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: .25em;
	border: 1px solid rgba(0,0,0,.2);
}

#taboola > ul > li > div > h5
{
	font-size: 15px;
	margin: 0 0 3px;	
}

#taboola > ul > li > div > h5 > a
{
	color: #189bfe;
}

#taboola > ul > li > div > p
{
	font-size: .8em;
	padding-bottom: .25em;
}

#taboola > ul > li > div > p > a
{
	color: black;
}

#taboola > ul > li > div > h5 > a,
#taboola > ul > li > div > p > a
{
	text-decoration: none;
}

@media screen and (min-width: 481px)
{
	#taboola > ul > li
	{
		width: 50%;
		padding: 0 .5em;
	}

	#taboola > ul > li:nth-of-type(odd)
	{
		clear: left;
	}
}

@media screen and (min-width: 768px)
{
	#taboola > ul > li
	{
		width: 33.333%;
	}

	#taboola > ul > li:nth-of-type(odd)
	{
		clear: none;
	}

	#taboola > ul > li:nth-of-type(3n+4)
	{
		clear: left;
	}
}